body {
  background:orange;
  color:white;
  margin:12px;
  text-align: center;
  font-family:sans-serif, monospace;
}

.blue {
  color: blue;
}

.tab {
  display: flex;
  justify-content: center;
}

button {
  background:-webkit-linear-gradient(lightcyan, tomato);
}
